{% extends 'base.html.twig' %}

{% block body %}
    <div class="container my-5">
    <div class="small-block">
        <h1>Nouveau Mot de Passe</h1>
        {{ form(forgotPasswordForm) }}

        </div>
    </div>
    
{% endblock %}